<div>
  <audio
    src="https://res.cloudinary.com/cbanlawi/video/upload/v1614140796/HarryStyles-WatermelonSugar_f5471p.mp3"
    #music
  ></audio>
  <button class="play" (click)="onPlay()" [disabled]="!metadataLoaded">
    Play
  </button>
  <button class="stop" (click)="onStop()">Stop</button>
  <br />
  <input [(ngModel)]="currentTime" #ctrl="ngModel" required />
  <input [(ngModel)]="endTime" #ctrl="ngModel" required />

  <music-boundaries
    [max]="musicTime"
    [startTime]="startTime"
    [endTime]="endTime"
    (startBoundaryChange)="onStartBoundaryChange($event)"
    (endBoundaryChange)="onEndBoundaryChange($event)"
  ></music-boundaries>

  <progress-bar
    ngIf="metadataLoaded"
    [max]="musicTime"
    [(value)]="currentTime"
  ></progress-bar>
</div>
